/* Primary.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 16px;
}

.primary-box {
    background-color: white;
    padding: 64px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.primary-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.user-info {
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.loading {
    font-size: 1.2rem;
    color: #888;
}